* {
    box-sizing: border-box;
}

.issuesList {
    margin: 5% 15% 5% 15%;
}
.issuesList ul {
    border: grey solid 1px;
}
.issuesList ul, .issuesList li {
    list-style-type: none;
    border-bottom: grey solid 1px;
    margin: 0;
    padding: 5px;
    margin-bottom: 10px;
}
.heading {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.issuesList .heading .commentIcon {
    float: right;
    font-size: 0.80em;
}
.issuesList .heading .commentIcon span {
    padding: 2px;
    vertical-align: 2px;
}
.heading .title {
    display: block;
    font-weight: bold;
}
.heading .name {
    font-weight: normal;
}
.heading .title .id {
    padding-left: 10px;
    display: inline-block;
    font-weight: normal;
    font-size: 0.75em;
}
.heading .label {
    padding: 0 5px 0 5px;
    margin: 0 3px 0 3px;
}
.issuesList img {
    width: 40px;
    height: 40px;
    padding-right: 5px;
}
.issuesList .summary {
    display: block;
    font-weight: normal;
}

.issuesList .title a {
    text-decoration: none;
    color: black;
}

/*
* For Tables and mobile phones
*/
@media screen and (max-width:768px) {
    .issuesList {
        margin: 2% 5% 2% 5%;
    }
}
